body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; /* Define a largura máxima em porcentagem */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#quiz {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

#options {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Adicione regras de estilo para tornar a imagem responsiva */
#image img {
    max-width: 100%; /* A imagem não ultrapassará a largura do contêiner pai */
    height: auto; /* A altura é ajustada automaticamente para manter a proporção */
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%; /* Reduz a largura máxima para telas menores */
    }

    #options button {
        font-size: 14px; /* Reduz o tamanho da fonte dos botões em telas menores */
    }
}